<%- include("header") -%>

<div class="header">
    <h1>About Todo App</h1>
</div>

<div class="container">
    <div class="todo-item">
    <p>Created by a Nigerian genius <span class="w-code"><b>W-code81</b></span> to help users store and track their goals for the day</p>
</div>
</div>



<%- include("footer") -%>